<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
<f:view locale="#{facesContext.externalContext.requestLocale}">

<ui:composition template="/templates/user.xhtml">
	
	
	
		
	<ui:define name="content">
	
	
	<p:panel>
	
	<h:form>
	  	<b:dataTable  select="true" selectionMode="single" value="#{adminBB.allUsers}" page-length-menu="5,10,20"  var="user">
		    <b:dataTableColumn value="#{user.userId}" label="#{admin.id}" />
		               
		    <b:dataTableColumn value="#{user.login}"  label="#{admin.login}"/>
		    <b:dataTableColumn value="#{user.email}" label="#{admin.email}" />
		    <b:dataTableColumn value="#{user.registerDate}" label="#{admin.registerDate}" order="asc" />
		    
		    <b:dataTableColumn  label="#{admin.empowerment}" data-order="#{user.isAdmin()}">
		        <h:form>
		        <b:commandButton value="#{admin.takeAdmin}" look="warning" action="#{adminBB.takeAdmin(user)}" rendered="#{user.roleBean.roleName=='admin'}"/>
			    
			    <b:commandButton value="#{admin.giveAdmin}" look="warning" action="#{adminBB.giveAdmin(user)}" rendered="#{user.roleBean.roleName=='user'}"/>
			    </h:form>
			</b:dataTableColumn>
			 <b:dataTableColumn label="#{admin.state}" data-order="#{user.isDeleted()}" >
		        <b:commandButton value="#{admin.restore}" look="success" action="#{adminBB.restoreUser(user)}" rendered="#{user.isDeleted()}"/>
				<b:commandButton value="#{admin.delete}" look="danger"   action="#{adminBB.deleteUser(user)}" rendered="#{!user.isDeleted()}" />
			</b:dataTableColumn>
		     	<b:dataTableColumn value="#{user.deletionTimestamp}" label="#{admin.deletionDate}" />
		    
		    
	    </b:dataTable>
	</h:form>
	
</p:panel>
		
	</ui:define>
	

	
	
	
</ui:composition>
</f:view>
</html>