<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
<f:view locale="#{facesContext.externalContext.requestLocale}">

<ui:composition template="/templates/user.xhtml">
	
	
	
		
	<ui:define name="content">
	
	
	<p:panel>
	
	<h:form>
	  	<b:dataTable select="true" selectionMode="single"  value="#{adminBB.allApps}" page-length-menu="5,10,20"  var="appl">
		    <b:dataTableColumn style="width:10vw" value="#{appl.service.serviceName}" 					label="#{admin.serviceName}" />	
		    <b:dataTableColumn style="width:10vw" value="#{appl.topic}" 					label="#{admin.topic}" />	
		    <b:dataTableColumn  style="max-width: 40vw; word-wrap:break-word;" value="#{appl.description}" 	label="#{admin.desc}" >	
		    			    
		    
		      </b:dataTableColumn>   
		    <b:dataTableColumn value="#{appl.applicationCreationDate}" 	label="#{admin.creationDate}" />	
		    <b:dataTableColumn 											label="#{admin.isClosed}" >
			    <h:outputText rendered="#{appl.closed==true}" value="#{admin.yes}">			</h:outputText>	
			    <h:outputText rendered="#{appl.closed==false}" value="#{admin.no}">	</h:outputText>	
			        
		    </b:dataTableColumn>
		              
		    
		   
		    
		    
	    </b:dataTable>
	</h:form>
	</p:panel>

		
	</ui:define>
	

	
	
	
</ui:composition>
</f:view>
</html>