<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
    <f:viewAction action="#{personEditBB.onLoad()}" />
</f:metadata>

<h:head>
	<title>JSF 06 - EJB, bazy danych (mapowanie
		obiektowo-relacyjne)</title>
</h:head>

<h:body style="background-color: #eee; margin: 0.5em;">

	<p:panel toggleable="true" header="Edycja rekordu">

		<h:form rendered="#{personEditBB.person != null}">
			<h:panelGrid columns="3" cellpadding="5">

				<h:outputLabel for="p-name" value="imię:" />
				<p:inputText id="p-name" value="#{personEditBB.person.name}"
					required="true" requiredMessage="Podaj imię"
					validatorMessage="co najwyżej 40 znaków">
					<f:validateLength maximum="40" />
				</p:inputText>
				<p:message for="p-name" display="icon"/>

				<h:outputLabel for="p-surname" value="nazwisko:" />
				<p:inputText id="p-surname" value="#{personEditBB.person.surname}"
					required="true" requiredMessage="podaj nazwisko"
					validatorMessage="co najwyżej 40 znaków">
					<f:validateLength maximum="40" />
				</p:inputText>
				<p:message for="p-surname" display="icon"/>

				<h:outputLabel for="p-date" value="data ur.:" />
				<p:inputText id="p-date" value="#{personEditBB.person.birthdate}"
					required="true" requiredMessage="podaj datę urodzenia"
					converterMessage="niepoprawny format daty (np. 15-07-2018)">
					<f:convertDateTime pattern="dd-MM-yyyy"/>
			    </p:inputText>
				<p:message for="p-date" display="icon"/>
			</h:panelGrid>

			<p:messages id="msgs" />

			<p:commandButton value="Zapisz" action="#{personEditBB.saveData()}"
				style="margin-right: 1em;" update="@form" />

			<p:button value="Anuluj" outcome="personList" />
		</h:form>

	</p:panel>

</h:body>

</html>