<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
<f:view locale="#{facesContext.externalContext.requestLocale}">

<ui:composition template="../templates/guest.xhtml">
	
	
	
		
	<ui:define name="content">
	
		<a>O nas !</a>
		
	</ui:define>
	

	
	
	
</ui:composition>
</f:view>
</html>