<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
<f:view locale="#{facesContext.externalContext.requestLocale}">

<ui:composition template="../templates/guest.xhtml">
	
	
	
	<ui:define name="content">

			 
			
			<div>
				<p:imageSwitch effect="fade" id="fadeEffect" styleClass="centered-horizontaly">
				      	<p:graphicImage  styleClass="image" 	value="/resources/images/phone1.jpg" />
				      	<p:graphicImage  styleClass="image" 		value="/resources/images/phone2.jpg" />
				      	<p:graphicImage  styleClass="image"  	value="/resources/images/phone3.jpg" />
				      			    
			</p:imageSwitch>
			</div>
	</ui:define>
	
	
	
</ui:composition>
</f:view>
</html>