<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
<f:view locale="#{facesContext.externalContext.requestLocale}">

<ui:composition template="../templates/guest.xhtml">
	
	
	
		
	<ui:define name="content">
		<b:column offset="3" col-sm="6">
			<p:panel>
			<h:form>
			<b:row styleClass="loginInput centered-horizontaly" >
					
				<h1>#{nav.login}</h1>
			</b:row>
			<b:row styleClass="loginInput centered-horizontaly">
				<label for="login">Login:</label>
				<p:inputText required="true" id="login"
				requiredMessage="#{login.loginRequiredMessage}"
				value="#{loginBB.login}"
				>
				</p:inputText>
			</b:row>
			<b:row styleClass="loginInput centered-horizontaly">	
				
				<p:messages closable="true" id="loginMessage" for="login" ></p:messages>
				
			</b:row>
			<b:row styleClass="loginInput centered-horizontaly" >
			
				<label for="password">#{nav.password}:</label>
				<p:inputText id="password" required="true"
				requiredMessage="#{login.passwordRequiredMessage}"
				value="#{loginBB.pass}"
				>
				</p:inputText>
			</b:row>
			<b:row styleClass="loginInput centered-horizontaly">
				<p:messages closable="true" id="passwordMessage" for="password" ></p:messages>
			</b:row>
			<b:row styleClass="loginInput centered-horizontaly">
				<b:column offset="2" col-sm="8">
				<p:commandButton closable="true" action="#{loginBB.loginIn()}" update="passwordMessage loginMessage" value="#{nav.login}" > </p:commandButton>
				</b:column>
				
			</b:row>
			</h:form>
			</p:panel>
		</b:column>
	</ui:define>
	

	
	
	
</ui:composition>
</f:view>
</html>