<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
<f:view locale="#{facesContext.externalContext.requestLocale}">

<ui:composition template="../templates/guest.xhtml">
	
	
	
	<ui:define name="content">
		<b:container fluid="true">
		<p:panel>
		<h2>#{reg.register}:</h2>
		<h:form>
			<b:row>
			
				<b:column col-xs="3" styleClass="loginInput">
					<label for="login">#{reg.login}: </label>
				</b:column>
				
				<b:column col-xs="4" styleClass="loginInput">
						<p:inputText required="true"
						 id="login"
						 requiredMessage="#{reg.loginRequiredMessage}"
						 validatorMessage="#{reg.loginValidatorMessage}"
						  value="#{registerBB.user.login}" >
							<f:validateLength minimum="4" maximum="40" />							
						 </p:inputText>
				</b:column>				
				<b:column col-sm="5" >				
					<p:messages closable="true" id="loginMessage" for="login">
						<p:autoUpdate/>
					</p:messages>
				</b:column>
			</b:row>
			
			<b:row>
			
				<b:column col-xs="3" styleClass="loginInput">
					<label for="email"> #{reg.email}: </label>
				</b:column>
				
				<b:column col-xs="4" styleClass="loginInput">
					<p:inputText required="true"
						 id="email"
						 requiredMessage="#{reg.emailRequiredMessage}"
						 validatorMessage="#{reg.emailValidatorMessage}"
						  value="#{registerBB.user.email}" >
							<f:validateLength maximum="40" />
							<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
					</p:inputText>
				</b:column>
				
				<b:column col-sm="5" >
					<p:messages closable="true"  id="emailMessage" for="email">
						<p:autoUpdate/>
					</p:messages>
				</b:column>	
			</b:row>
			<b:row>
				<b:column col-xs="3" styleClass="loginInput">
					<label for="password"> #{reg.password}: </label>
				</b:column>
				<b:column col-xs="4" styleClass="loginInput">
					<p:password required="true"
						 id="password"
						 requiredMessage="#{reg.passwordRequiredMessage}"
						 validatorMessage="#{reg.passwordValidatorMessage}"
						  value="#{registerBB.user.password}" >
							<f:validateLength minimum="6" maximum="40" />
					 </p:password>				
				</b:column>
				<b:column col-sm="5" >
					<p:messages closable="true" id="passMessage" for="password" ></p:messages>
				
				</b:column>	
			</b:row>
			<b:row>
				<b:column col-xs="3" styleClass="loginInput">
					<label for="passwordConfirm"> #{reg.passconfirm}: </label>
				</b:column>
				<b:column col-xs="4" styleClass="loginInput">	
					<p:password required="true"
					
						 id="passwordConfirm"
						 requiredMessage="#{reg.passconfirmRequiredMessage}"
						 validatorMessage="#{reg.passconfirmValidatorMessage}"
						  value="#{registerBB.passConfirm}" >
							<f:validateLength  minimum="6" maximum="40" />
					 </p:password>				
				</b:column>
				<b:column col-sm="5">
				<p:messages closable="true" id="paassConfMessage" for="passwordConfirm" ></p:messages>
				<a></a>
				</b:column>	
			</b:row>
			<b:row>
				<b:column col-sm="6">
				
				</b:column>
				<b:column col-sm="6">
				
				</b:column>	
			</b:row>
			<b:row>
			<p:commandButton value="#{reg.register}" update="emailMessage loginMessage paassConfMessage passMessage" action="#{registerBB.saveData()}"></p:commandButton>
			</b:row>
		</h:form>
		</p:panel>
		</b:container>
	</ui:define>
	
	
	
</ui:composition>
</f:view>
</html>