<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">
	
		<div class="footer">
		<b:row>
			<b:panel  >
				<b:row>
					<h2> Odwiedz nas w naszych Social<h:outputText value="&#160;"/>Mediach</h2>
				</b:row>
				<b:row>
					<b:column colXs="4" >
						<h:outputLink value="http://www.facebook.pl">
							<h:graphicImage  styleClass="socialMediaIcons centered-horizontaly" value="/resources/images/facebook.png"></h:graphicImage>
						</h:outputLink>
					</b:column>
					
					<b:column colXs="4" >
						<h:outputLink value="http://www.instagram.com">
							<h:graphicImage styleClass="socialMediaIcons centered-horizontaly" value="/resources/images/instagram.png"></h:graphicImage>
						</h:outputLink>
												
					</b:column>
					
					<b:column colXs="4" >
					<h:outputLink value="http://www.twitter.com">
						<h:graphicImage styleClass="socialMediaIcons centered-horizontaly" value="/resources/images/twitter.png"></h:graphicImage>
						</h:outputLink>
					</b:column>
				</b:row>
				<b:row> </b:row>
			</b:panel>
			</b:row>
		</div>	

	</ui:composition>