<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">


<b:modal auto-update="true" title="modal" styleClass="modalPseudoClass"   id="amodal">
           	 	<h:outputText value="#{modal.appl.getApplicationId()}" />
           	 	<f:facet name="footer">
					<b:button value="Close" dismiss="modal" />
					<b:button value="Ok" look="primary" dismiss="modal" />
				</f:facet>
			</b:modal> 
			
			
			</html>