<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:b="http://bootsfaces.net/ui">

		
			<b:navBar style="margin-bottom : 0px" brand="#{nav.title}" brandHref="../public/index.xhtml" style-class="navbar navbar-dark bg-dark">
	  			<b:navbarLinks>
	   				<b:navLink value="#{nav.homepage}" outcome="/public/index"></b:navLink>
	   				<b:navLink value="#{nav.aboutUs}" outcome="/public/aboutUs"></b:navLink>
	    		 	<b:navLink value="#{nav.contact}" outcome="/public/contact"></b:navLink>
	  			</b:navbarLinks>
				<b:navbarLinks inverse="true" rendered="#{!remoteClient.isAdmin() and !remoteClient.isUser()}"	 pull="right" >
	    				<b:navLink value="#{nav.register}" href="/smartphone_WEB/public/register.xhtml"></b:navLink>
	    				<b:navLink value="#{nav.login}" href="/smartphone_WEB/public/login.xhtml"></b:navLink>
		  		</b:navbarLinks>		  				  		
	  		</b:navBar>	  		
	  		<b:form  rendered="#{remoteClient.isAdmin()}">
	  		<b:navBar brand="#{nav.adminMenu}" brandHref="/public/index" style-class="navbar navbar-dark bg-dark">
	  			<b:navbarLinks>
	   				<b:navLink value="#{nav.users}" outcome="/pages/admin/menageUsers?faces-redirect=true"></b:navLink>
	   				<b:navLink value="#{nav.applications}" outcome="/pages/admin/menageApplications?faces-redirect=true"></b:navLink>
	  			</b:navbarLinks>
				<b:navbarLinks inverse="true" rendered="#{remoteClient.isAdmin() or remoteClient.isUser()}" 				 pull="right" >
	    			
	    			<b:navCommandLink action="#{loginBB.doLogout()}" value="#{nav.logout}" ></b:navCommandLink>
		  		</b:navbarLinks>		
	  		</b:navBar>
	  		</b:form>
			
			<b:form  rendered="#{remoteClient.isUser()}">
			<b:navBar brand="#{nav.userMenu}"  brandHref="index.xhtml" style-class="navbar navbar-dark bg-dark">
				<b:navbarLinks>
					<b:navLink outcome="/pages/user/myProfile?faces-redirect=true"  value="#{nav.profile}" ></b:navLink>
	   				<b:navLink  value="#{nav.applications}" outcome="/pages/user/myApplications?faces-redirect=true"></b:navLink>
					<b:navLink  outcome="/pages/user/addApplication?faces-redirect=true" value="#{nav.addApplication}" ></b:navLink>
	  			</b:navbarLinks>
				<b:navbarLinks inverse="true" rendered="#{remoteClient.isAdmin() or remoteClient.isUser()}" 				 pull="right" >
	    			
	    			<b:navCommandLink action="#{loginBB.doLogout()}" value="#{nav.logout}" ></b:navCommandLink>
		  		</b:navbarLinks>		  		
	  		</b:navBar>
			</b:form>
	
		
</ui:composition>

