<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
<f:view locale="#{facesContext.externalContext.requestLocale}">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="title">Smartphone Service</ui:insert></title>
	<!--Komentarz-->
	<h:outputStylesheet library="css" name="style.css"> </h:outputStylesheet> 
	<!--Komentarz-->
</h:head>
<h:body>
	
	<div style=" position: relative;  min-height: 100vh;">
	<div style="padding-bottom: 2.5rem;">
		<!-- Header -->
		<ui:insert name="header">
			
		</ui:insert>
		
		<!-- Navbar -->
		<ui:insert name="nav">
			<ui:include src="../partials/navBar.xhtml" />
		</ui:insert>


		<!-- Content -->
		<ui:insert name="content"></ui:insert>

		<!-- Scripts -->
		<ui:insert name="scripts">
			
		</ui:insert>
		</div>
		<!-- Footer -->
		<ui:insert name="footer">
			<ui:include src="../partials/footer.xhtml" />
		</ui:insert>
		
	</div>
</h:body>
</f:view>
</html>
