<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
<f:view locale="#{facesContext.externalContext.requestLocale}">

<ui:composition template="/templates/user.xhtml">
	
	
	
		
	<ui:define name="content">
	<h:form>
	<p:panel>
	
		<b:row>
			<b:label for="@next" value="#{app.service}" />
			<b:selectOneMenu  id="choose" value="#{userBB.service}" style="width:125px">
	    		<f:selectItems value="#{userBB.services}" var="service" itemLabel="#{service.getServiceName()}" itemValue="#{service}" />
	    	</b:selectOneMenu>
	    </b:row>
	    <b:row>
			<b:label  value="#{app.appTopic}" />
	    </b:row>
	    <b:row>
	    	<p:inputText id="topic" required="true" requiredMessage="#{app.topicValidMessage}" value="#{userBB.applicationTopic}" ></p:inputText>
	    	<p:messages id="topicMess" closable="true"  for="topic">
						<p:autoUpdate/>
					</p:messages>
	    </b:row>
	    <b:row>
	    	<b:label  value="#{app.description}" />    
	    </b:row>
	    <b:row>
			<p:inputTextarea id="description" requiredMessage="#{app.descriptionValidMessage}" required="true"  rows="10" cols="80" value="#{userBB.applicationDescription}"></p:inputTextarea>
		<p:messages id="descMess" closable="true"  for="description">
						<p:autoUpdate/>
					</p:messages>
		</b:row>		
		<b:row>
			<b:commandButton update="descMess topicMess"  value="#{app.sendApp}" action="#{userBB.sendApplication()}" ></b:commandButton>
		</b:row>
	
	</p:panel>
	</h:form>
	
		
	</ui:define>
	

	
	
	
</ui:composition>
</f:view>
</html>