<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	>
<f:view locale="#{facesContext.externalContext.requestLocale}">

<ui:composition template="/templates/user.xhtml">
	
	
	
		
	<ui:define name="content">
	<h:form prependId="false" >
	<h:outputScript library="js" name="javascriptt.js"/>


	
				
			
	  	<b:dataTable select="true" selectionMode="single" value="#{userBB.apps}" page-length-menu="5,10,20"  var="applic">
	  	
	  
		    	
		    <b:dataTableColumn style="width:10vw" value="#{applic.applicationId}" 	label="ID" />	
		    
		    <b:dataTableColumn style="width:10vw" value="#{applic.service.serviceName}" 					label="#{admin.serviceName}" />	
		    <b:dataTableColumn style="width:10vw" value="#{applic.topic}" 					label="#{admin.topic}" />	
		    <b:dataTableColumn  style="max-width: 40vw; word-wrap:break-word;" value="#{applic.shortDesc()}" 	label="#{admin.desc}" >	
		    			    
		    
		     </b:dataTableColumn>   
		    <b:dataTableColumn value="#{applic.applicationCreationDate}" 	label="#{admin.creationDate}" />	
		    <b:dataTableColumn 											label="#{admin.isClosed}" >
			  
			    <h:outputText rendered="#{applic.closed==true}" value="#{admin.yes}">			</h:outputText>	
			    <h:outputText rendered="#{applic.closed==false}" value="#{admin.no}">	</h:outputText>	
			    <b:commandButton value="#{admin.close}" action="#{userBB.closeApplication(applic)}" rendered="#{applic.closed==false}" ></b:commandButton>
			    
		    </b:dataTableColumn>
		   
		    <b:dataTableColumn label="" style="width:10vw" >	
		    
		    
		        <p:commandButton action="#{userBB.setModalApp(applic)}" value="Trigger (JavaScript)" look="success" oncomplete="$('.modalPseudoClass').modal()" >
		    	  <f:ajax execute="@form"  render="update" />
		    	</p:commandButton>

 	
		    	
		    	
		
			</b:dataTableColumn>
			
			
		    
		
		    
		    
	    </b:dataTable>
	    

	    <div id="update">
	    
			<b:modal  title="modal" styleClass="modalPseudoClass"   id="amodal">
           	 	<b:label text="#{admin.topic}"/>
           	 <h:outputText   value="#{userBB.modalApp.topic}" />
           	 <b:label text="#{admin.desc}"/>
           	 <h:outputText   value="#{userBB.modalApp.description}"/>
           	 

           	 

           	 
           	 
           	 
           	 	<f:facet name="footer">
					<b:button value="Close" dismiss="modal" />
					<b:button value="Ok" look="primary" dismiss="modal" />
				</f:facet>
				
				
				
				</b:modal> 				
				</div>


	
	    


	
	
	
	 </h:form>
	
	
	
	
	
	
	
	
	</ui:define>
	

	
	
	
</ui:composition>
</f:view>
</html>