<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui">
<f:view locale="#{facesContext.externalContext.requestLocale}">

<ui:composition template="/templates/user.xhtml">
	
	
	
		
	<ui:define name="content">
	<h:form>
	<p:growl id="growl" showDetail="true" sticky="true" />  
	<p:panel>
	<b:row styleClass="loginInput">
		<b:column col-xs="2">
			<label for="login">#{reg.login}:</label>
		</b:column>
		<b:column col-xs="6">
			<p:inputText disabled="true" id="login" value="#{userBB.user.login}"></p:inputText>
		</b:column>
		<b:column col-sm="4">	
			
		</b:column>
	</b:row>
	
	<b:row styleClass="loginInput">
		<b:column col-xs="2">
			<label for="email">#{reg.email}:</label>
		</b:column>
		<b:column col-xs="6">
			<p:inputText id="email" value="#{userBB.email}"
			 requiredMessage="#{reg.emailRequiredMessage}"
			 validatorMessage="#{reg.emailValidatorMessage}"
			 >
				<f:validateLength maximum="40" />
				<f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
			</p:inputText>
		</b:column>
		<b:column col-sm="4">	
			<p:messages closable="true" id="emailMessage" for="email">
						<p:autoUpdate/>
			</p:messages>
		</b:column>
	</b:row>
	
	<b:row styleClass="loginInput">
		<b:column col-xs="2">		
			<label for="password">#{reg.password}:</label>
		</b:column>
		<b:column col-xs="6">		
			<p:password  id="password" value="#{userBB.pass}"
			   >				
			</p:password>
		</b:column>
		<b:column col-sm="4">	
			<p:messages closable="true" id="passwordMessage" for="password">
						<p:autoUpdate/>
			</p:messages>
		</b:column>
	</b:row>
	
	<b:row styleClass="loginInput">
		<b:column col-xs="2">
			<label for="passConfirm">#{reg.passconfirm}:</label>
		</b:column>
		<b:column col-xs="6">	
			
			<p:password  value="#{userBB.passConfirm}" id="passConfirm"
			></p:password>
		</b:column>	
		<b:column col-sm="4">	
			<p:messages closable="true" id="passConfirmMessage" for="passConfirm">
						<p:autoUpdate/>
			</p:messages>
		</b:column>
		
	</b:row>
	
	<b:row styleClass="loginInput">
	<b:column col-xs="2">
	<b:commandButton action="#{userBB.saveChanges()}" update="emailMessage growl  passConfirmMessage passwordMessage" value="#{reg.saveChanges}" look="primary"/>
	</b:column>
	<b:column col-xs="2" offset="1">
	<b:commandButton action="#{userBB.deleteAccount()}"  value="#{reg.deleteAccount}" look="danger">
	</b:commandButton>
	</b:column>
	</b:row>
	</p:panel>
	</h:form>	
	</ui:define>
	

	
	
	
</ui:composition>
</f:view>
</html>