@charset "UTF-8";

.centered-horizontaly{
	
	margin-left: auto;
	 margin-right: auto;
	 text-align: center;
}
.image
{
	max-height: 500px;
	width: 100%;
	min-width: 20%;
}
.red
{
	background: red;
}


.socialMediaIcons
{	
	margin-left: 20%;
	margin-right:20%;	
	height: auto;
	max-height:50px;
	max-width: 50px; 	
	min-height:5px;
	min-width: 5px;
}
.footer
{	padding: 0 ;
	 position: absolute;
 	 right: 0;
  	bottom: 0;
  	left: 0;
 	background-color: #efefef;
 	text-align: center;
 	height: 2.5rem; 
 	width: 100%;
}

.loginInput
{
	padding : 10px;
	font-size: 1em;
	
}